@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
*{
  Padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #f7ff13;
  --text-color: #727271;
}
html{
  font-size: 10px;
}
body{
  font-family: Inter, Newsreader;
  background-color: black;
  color: white;
}

/* common styles */
img{
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
}

/* Layouts */
.container{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: Grid;
  padding: 5rem;
  background: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media only screen and (max-width: 768px){
  .container {
  width: 100%;
  grid-template-columns: 1fr;
  padding: 3rem;
  gap: 7rem;
  }
}
.profile{
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

/* profile */
.profile-container{
  display: flex;
  gap: 2rem;
  border-radius: 50%;
}
.profile-image-link{
  display: inline-block;
  border: none;
  padding: 0%;
  background-color: transparent;
  transition: transform 0.2 ease-in-out;
}
.profile-image-link:active{
  transform: scale(0.95);
}
.profile-image{
  max-width: 250px;
  display: block;
}
.profile-image img{
  width: 200px;
  height:200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-first-name{
  color: white;
  font-weight: 200;
  font-size: clamp(3rem, 8vw, 2rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}
.profile-last-name{
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  dispay: block;
}
.profile-title{ 
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px){
  .profile-container{
    flex-direction: column;
  }
}
/* profile-qualifications*/
.profile-qualifications{

}

.Qualifications-WebDev{
Display: Inline-Block;
Width: 120px;


}
.Qualifications-Cyber-Security{
Display: Inline-block;
Width: 120px;

}
.Qualifications-h2{
  text-align: center;
}

/* Search bar*/
.search-bar{

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
